.task_wrapper{
    display: grid;
    align-items: center;
}


li>span{
    margin-left: 0.2rem;
    margin-right: 0.4rem;
}

li{
    list-style-type: none;
}

.delete_button{
    background-color: deeppink;
}

.completed_task{
    text-decoration: line-through;
    opacity: 0.5;
    color: crimson;
}

