
@keyframes blink {
    0%{
        left: -130%;
    }
    100%{
        left: 130%;
    }
}

.default {
    background: #61dafb;
    color: blue;
    outline: none;
}

.red {
    background: red;
}


.floating_button {
    text-decoration: none;
    display: inline-block;
    width: max-content;
    height: max-content;
    line-height: initial;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    text-align: center;
    vertical-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
    transition: .3s;
}
.floating_button:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-3px);
}

.floating_button:disabled{
    color: thistle;
    cursor: auto;
}

